@use '../abstract/' as *;

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

#principal {
    //border: solid 2px black;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    //font-size: $font-size-h1;
}

.dark {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--colorD8);
    margin: auto;
}

.menuHeader {
    margin-top: auto;
    margin-bottom: auto;
}

.h1 {
    font-family: 'Century Gothic';
    font-size: var(--font-xl);
}

.h1Info {
    font-family: 'Century Gothic';
    font-size: 50px;
    margin-left: 10px;
}

h1 span {
    color: var(--primary-color)
}

.title {
    background-color: white;
    padding: 20px;
}

.p1 {
    font-family: 'Century Gothic';
    font-size: var(--font-sm);
    color: var(--color9);
}

.p2 {
    font-family: 'ArialMT';
    font-size: var(--font-xs);
    color: var(--letra2);
}

.welcome {
    font-family: 'Century Gothic';
    font-size: var(--font-lg);
    color: var(--primary-color);
}

.media h2 {
    font-family: 'Century Gothic';
    font-size: var(--font-md);
    color: var(--primary-color);
}

.gridHead {
    background-color: var(--colorD8);
}

.gridBody {
    //border: solid 2px black;
    background-color: var(--colorE4);
    padding: 10px;
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-base;
}

.imageF {
    width: 30px;
    height: 30px;
}

footer {
    //border: solid 2px black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-base;
    background-color: var(--colorEB);
}

.copyright span {
    color: var(--primary-color)
}