@use '../abstract/' as *;

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(var(--bg-color), var(--bg-color-gradient));
    color: var(--font-color);
    margin: auto;
}

body {
    #container {
        max-width: 1500px;
        margin: 0 auto;
    }
}

#theme-switch {
    border: 1px solid var(--primary-color);
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--bg-color-gradient);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -25px;
    
    svg {
        fill: var(--primary-color);
    }
    .to_dark_mode{
        display: block;
    }
    
    .to_light_mode{
        display: none;
    }
}

.darkmode {
    #theme-switch .to_dark_mode{
        display: none;
    }
    #theme-switch .to_light_mode{
        display: block;
    }
}

.dark {
    width: 35px;
    height: 35px;
    border: none;
    background-color: var(--colorD8);
    margin: auto;
}

.menuHeader {
    margin-top: auto;
    margin-bottom: auto;
}

.h1 {
    font-family: 'Century Gothic';
    font-size: var(--font-xl);
}

.h1Info {
    font-family: 'Century Gothic';
    font-size: 50px;
    margin-left: 10px;
}

h1 span {
    color: var(--primary-color)
}

.title {
    background: var(--component-bg);
    padding: 20px;
}

.p1 {
    font-family: 'Century Gothic';
    font-size: var(--font-sm);
}

.p2 {
    font-family: 'ArialMT';
    font-size: var(--font-xs);
}

.welcome {
    font-family: 'Century Gothic';
    font-size: var(--font-lg);
    color: var(--primary-color);
}

.media h2 {
    font-family: 'Century Gothic';
    font-size: var(--font-md);
    color: var(--primary-color);
}

.gridBody {
    //border: solid 2px black;
    padding: 10px;
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-base;
}

.imageF {
    width: 30px;
    height: 30px;
}

footer {
    //border: solid 2px black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size-base;
}

.copyright span {
    color: var(--primary-color)
}