@font-face {
    font-family: 'Century Gothic';
    src: url(../../public/resourses/tipografia/century-gothic-regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArialMT';
    src: url(../../public/resourses/tipografia/arial-mt-regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ArialMTbold';
    src: url(../../public/resourses/tipografia/arial-mt-pro-bold.otf) format('truetype');
    font-style: normal;
    font-weight: normal;
}