.banner {
    background-image: url(../../public/resourses/banner.png);
    background-repeat: no-repeat;
    background-color: white;
    border-collapse: collapse;
    width: auto;
    height: auto;
}