.subsTitle {
    font-family: 'Century Gothic';
    font-size: var(--font-md);
    color: var(--orangeCC);
}

.emailAdd {
    font-family: 'ArialMT';
    font-size: var(--font-xs);
    color: var(--letra2)
}