:root {
    --color-primary: #29abe2;
    --color-primary-dark: #1e81b0;
    --color-primary-light: #6ec1e4;
    --color-danger: #e74c3c;
    --color-text: #000000;
    --color-text2: #E89B4D;
    --color-border: #dbdbdb;
    --color-border-light: #f0f0f0;
    --color-white: #ffffff;

    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-base: 16px;
    --font-size-large: 18px;
    --font-size-xlarge: 20px;
    --font-size-xxlarge: 22px;
    --font-size-xxxlarge: 24px;

    --border-radius: 6px;

    --padding-xxsmall: 8px;
    --padding-base: 10px;
    --padding-xsmall: 12px;
    --padding-small: 14px;
    --padding-medium: 16px;
    --padding-large: 18px;
    --padding-xlarge: 20px;

}